* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    overflow: hidden;
    width: 1920px;
    height: 730px;
    background-color: #FFFFFF;
}

/*  header  */
.header{
    position: absolute;
    width: 941px;
    height: 100px;
    right: 489px;
    top:0px;
}

.box__right{
    background-color: #DDDDDD;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 621px;
    height: 100px;
    left: 320px;
    top: 0px
}

.box__right p{
    color: #FFFFFF;
    font-family: "Helvetica Neue";
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    position: absolute;
    width: 245px;
    height: 18px;
    left: 100px;
    top: 39px;
}

.box__left{
    background-color: #DDDDDD;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    width: 301px;
    height: 100px;
    left: 0px;
    top: 0px
}

/*  content  */
.content{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1591px;
}

/*  slike  */
.top__row{
    position: absolute;
    width: 1230px;
    height: 200px;
    left: -120px;
    top: 160px;
}

.top__row img{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 0px;
}

.slider__top{
    width: 90%;
    height: 90%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.bottom__row{
    position: absolute;
    width: 1080px;
    height: 200px;
    left: -130px;
    top: 365px;
}

.bottom__row img{
    height: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 0px;
}


.slider__bottom{
    width: 90%;
    height: 90%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

/*  gumbi  */

.btn{
    position:absolute;
    width: 60px;
    height: 130px;
    right: 810px;
    bottom: 230px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around; 
    cursor: pointer;
}
.btn__prev{
    width: 60px;
    height: 60px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    transform: translate(-50px);
    transition: 400ms;
}
.btn__prev img{
    padding: 10px 10px 35px 35px;
}
  
.btn__next{
    width: 60px;
    height: 60px;
    border: 1px solid #134880;
    box-sizing: border-box;
    border-radius: 5px;
    transform: translate(-50px);
    transition: 400ms;
}
.btn__next img{
    padding: 10px 10px 35px 35px;
}

/*  tekst  */

.right__copy{
    position: absolute;
    width: 301px;
    height: 296px;
    right: 489px;
    top: 160px;
}

.right__copy h1{
    position: absolute;
    width: 300.93px;
    height: 120px;
    left: 0px;
    top: 0px;
    
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.2px;
    color: #134880;
}
.right__copy p{
    position: absolute;
    width: 300.93px;
    height: 156px;
    left: 0px;
    top: 140px;
    
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    color: #484A4C;
}
/*  footer  */
.footer{
    position: absolute;
    width: 941px;
    height: 100px;
    right: 489px;
    bottom: 50px;
    background-color: #DDDDDD;
    border-radius: 0px 0px 5px 5px;
}

.footer p{
    position: absolute;
    width: 245px;
    height: 18px;
    left: 81px;
    top: 42px;
    font-family: "Helvetica Neue";
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}